<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Marketplace API{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        /* Custom styles */
        .navbar-custom {
            background-color: #337ab7; /* Change header background color */
        }
        .navbar-custom .navbar-brand {
            color: #fff; /* Change header brand color */
        }
        .navbar-custom .nav-link {
            color: #fff; /* Change header link color */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom"> <!-- Added 'navbar-custom' class -->
        <div class="container">
            <a class="navbar-brand" href="{% url 'contact_list' %}">Logoipsum</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto"> <!-- Added 'ml-auto' class to align items to the right -->
                            <li class="nav-item">
                            <a class="nav-link" href="{% url 'contact_create' %}">Contact Us</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>